<div class='members'>
<% @group.users.each do |m| %>
	<div class="chip teal lighten-3">
    <img class="image member-img" src="<%=m.image%>" alt="<%=m.initials%>"/>
		<span class="member_name"><%= m.first_name %></span>
  </div>
<% end %>
</div>
