<div class="container group-form">
<% provide(:title, '| Create a Group') %>
<h4 class="create-group">Create a group:</h4>
<div>
<% if flash %>
      <% flash.each do |key, value| %>
        <div><%= value.first %></div>
      <% end %>

<% end %>
</div>

<div>
  <div>
    <%= form_for(@group) do |f| %>
      <%= f.text_field :name, placeholder: "group name"%>
      <button class="waves-effect waves-light btn">
        <%= f.submit "create" %>
      </button>

    <% end %>
  </div>
</div>
</div>
