<% provide(:title, '| Create a Group') %>
<h3>Create a Group:</h3>
<div>
<% if flash %>
      <% flash.each do |key, value| %>
        <div><%= value.first %></div>
      <% end %>

<% end %>
</div>

<div>
  <div>
    <%= form_for(@group) do |f| %>
      <%= f.text_field :name, placeholder: "group name"%>
      <%= f.submit "create" %>

    <% end %>
  </div>
</div>
