<body>
  <h3>Hello, <%= @user.name %></h3>

<div class="row">
  <div class="col s4">
    <h5>Groups:</h5>
    <% @groups.each do |group| %>
      <div><%= link_to group.name, group_path(group) %></div>
    <% end %>
  </div>

  
  <div class="col s4">
    <h5>Tasks:</h5>
      <% @tasks.each do |task| %>
        <div><i class="fa fa-square-o" aria-hidden="true"></i><%= link_to task.task, group_path(task.group_id) %></div>
      <% end %>
  </div>

  <div class="col s4">
    <h5>Complete:</h5>
      <% @completed_tasks.each do |task| %>
        <div><i class="fa fa-check-square" aria-hidden="true"></i><%= link_to task.task, group_path(task.group_id) %></div>
      <% end %>
    </div>
  </div>
</body>