<!DOCTYPE html>
<html>
<head>
	<title>Weekly update email</title>
</head>
<body>
	<h4><%=@user.name%>, here's your weekly taskmate update<h4>

	<div>	
		<p> Hey @user.name, </p>
		<p> Here's your stats for this past week:</p>
		
	</div>

</body>
</html>