// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group-name {
  font-weight: 900;
}

.high-priority {
  font-weight: bolder;
}

.medium-priority {
  font-weight: bold;
}

.low-priority {
  font-weight: normal;
}

.news-feed-card {
  padding-left: 6px;
}
