// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group-name {
  font-weight: 900;
}

.high-priority {
  font-weight: bolder;
}

.medium-priority {
  font-weight: bold;
}

.low-priority {
  font-weight: normal;
}

.news-feed-card {
  padding-left: 6px;
}

.collection .collection-item.avatar {
  min-height: 65px;
}

.collection .collection-item.avatar a {
  margin-top: 30px;
}

.create-group {
  font-family: 'Open Sans', sans-serif;
  color: #80cbc4 ;
}

.group-form {
  margin-top: 10%
}

.group-icon {
  margin-left: -2.5em;
}

.group-link {
  margin-left: 1em;
  color: #039be5;
}

.group-join {
  color: black;
  font-weight: 900;
}

.members {
  margin-top: 1em;
  margin-bottom: 1em;
}