// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.check-box {
  margin-right: 10px;
}

.profile-pic {
	text-align: center;
	margin-top: 3em;
	margin-bottom: 3em;
}

i.announcement {
	color: white;
	margin-right: 1em;
}

i.schedule {
	margin-right: 1em;
}

div.vertical-line {
	border-left: thin solid #ff0000;
}