// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-links {
  font-size: 12px;
}

.sign-text {
  color: #80cbc4;
  font-size: 3.5em;
  font-family: 'Open Sans', sans-serif;
}

@keyframes fadein{
   from{opacity:0;}
   to{opacity:1;}
}

.welcome-body {
  background: #ef5350; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ef5350 , #ffcdd2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ef5350 , #ffcdd2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ef5350 , #ffcdd2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ef5350 , #ffcdd2);
  animation: fadein 3s;
}

.main-splash-logo {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 4.5em;
  text-shadow: 2px 2px #ff0000;
}

.main-page {
  margin-top: 20%;
}

.slogan {
  color: #fff;
  margin-top: -20;
  font-size: 1.4em;
  font-weight: 100;
  margin-bottom: 40px;
  text-shadow: 1px 1px #ff0000;
}

.button-text {
  color: white;
}