
<% if current_user.groups.empty? %>
 <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 50px; right: 15px;">
    <a class="btn-floating btn-medium  red lighten-2">
      <i class="material-icons" id="floater-icon">add</i>
    </a>
    <ul>
      <li><a class="btn-floating blue-grey lighten-3" href="/tasks/new">
          <i class="material-icons footer-icons">assignment</i></a>
      </li>
      <li><a class="btn-floating teal lighten-3" href="/invites/new">
          <i class="material-icons footer-icons">supervisor_account</i></a>
      </li>
    </ul>
  </div>
<% end %>