 <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-medium  red lighten-2">
      <i class="material-icons" id="floater-icon">clear_all</i>
    </a>
    <ul>
      <li><a class="btn-floating blue lighten-3">
          <i class="material-icons">message</i></a>
      </li>
      <li><a class="btn-floating blue-grey lighten-3" href="/tasks/new">
          <i class="material-icons">note_add</i></a>
      </li>
      <li><a class="btn-floating teal lighten-3" href="/invites/new">
          <i class="material-icons">person_pin</i></a>
      </li>
    </ul>
  </div>