

<nav class="nav-wrapper">
  <ul id="slide-out" class="side-nav">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  <ul class="nav-mobile">
    <% if current_user %>
      <a data-activates="slide-out" class="button-collapse">
      <i class="mdi-navigation-menu material-icons">reorder</i></a>
      <li><a href="/users/<%=current_user.id%>">  
          <i class="material-icons center header-center-icons">assignment</i>
          </a>
      </li> 
      <li><a href="/users/<%=current_user.id%>">
          <i class="material-icons center header-center-icons">supervisor_account</i>
          </a>
      </li>
      <li><a href="/users/<%=current_user.id%>">
          <i class="material-icons center header-center-icons">assignment_ind</i>
          </a>
      </li>
      <li><i class="material-icons right">mode_edit</i></li> 

    <% else %>
      <li class="brand-logo">TaskMate</li>
    <% end %>
  </ul>
</nav>
