<nav class="nav-wrapper">
  
  <ul class="nav-mobile">
    <% if current_user %>
      <li><i class="material-icons left">reorder</i></li> 
      <li><i class="material-icons center susan">assignment_ind</i></li>
      <li><i class="material-icons center susan">supervisor_account</i></li>
      <li><i class="material-icons center susan">assignment</i></li> 
      <li><i class="material-icons right">mode_edit</i></li> 

    <% else %>
      <li class="brand-logo">TaskMate</li>
    <% end %>
  </ul>
</nav>
